<div class="ui fixed inverted main menu">
    <div class="ui container">
        <a class="launch icon item" {{action 'toggle'}}>
            <i class="content icon"></i>
        </a>

        <div class="item">
            Management
        </div>

        <div class="right menu">

            <div class="vertically fitted borderless item">
                <iframe class="github"
                        src="http://ghbtns.com/github-btn.html?user=semantic-org&amp;repo=semantic-ui&amp;type=watch&amp;count=true"
                        allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
            </div>

        </div>
    </div>
</div>

<div class="ui simple sidebar inverted vertical menu left">
    <a class="item">Item 1</a>
    <a class="item">Item 2</a>
    <a class="item">Item 3</a>
</div>