#main-board {
  height: 100%;

  #menu-container{
    height: 10%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 16px;
    box-shadow: gray 0px 4px 10px 0px;
  }

  #boxything{
    width:100%;
  }

  #tlkio-cover{
    width: 95%;
    height: 60px;
    position: absolute;
    display: block;
    background: #dadada;
    z-index: 1;
    font-size: x-large;
    padding-left: 50px;
    padding-top: 30px;
  }

  #board-title{
    min-width: 300px;
  }

  #top-menu{
    height:100%;
    margin-left: 0;
    margin-right: 0;
    background-color: #313747;
  }

  #top-menu .item{
    color: #E0E0DE;
  }

  #main-ui{
    height:90%;
  }

  #topic-view{
    height:90%;
    overflow: scroll;
  }

  #topic-input{
    height:10%;
  }

  .add-button{
    width: 32px;
    padding: 10px;
    margin-top: 0px;
  }

  .suggestion-button{
    padding: 6px;
    width: 26px;
  }

  .suggestion-up:disabled{
    background-color: #64ce83
  }

  .suggestion-down:disabled{
    background-color: #ce6483
  }

  .full-height{
    height:100%;
  }

  .ember-inline-edit-save {
    display: none;
  }

  .pseudo-h2 {
    font-size: 1.714rem;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height: 1.2857em;
    margin: calc(2rem - 0.14285em ) 0em 1rem;
    font-weight: bold;
    padding: 0em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }

  .suggestion-vote {
    float: right;
  }

  .suggestion-ok {
    float: right;
    width: 50px;
    margin: .25rem 0;
  }

  .suggestion-name {
    float: left;
    width: 55%;
    margin: .25rem 0;
  }

  .add-topic {
    display: inline-flex;
    width: 100%;

    .topic-input {
      width: 80%;
    }
    .the-topic {
          width: 95%;
      #the-topic {
            width: 95%;
      }
    }

    .topic-add-input {
      width: 7%;
      line-height: 2.5em;

      .add-topic-button {
        font-size: 2.7em;
      }
    }
  }
  .add-suggestion {
    display: inline-flex;
    width: 100%;
    margin-top: 15px;

    .suggestion-input {
      width: 80%;
    }
    .the-suggestion {
        width: 95%;
      #the-suggestion {
        width: 95%;
      }
    }

    .suggestion-add-input {
      width: 7%;
      line-height: 2.5em;

      .add-suggestion-button {
        font-size: 2.7em;
      }
    }
  }
}
