<div id="login" class="fullscreen">
    <div class="ui middle aligned center aligned grid">
        <div class="column panel">
            <form {{action 'login' on='submit'}} class="ui large form">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            {{input id='identification' type="text" name="name" placeholder="Enter your name" value=identification}}
                        </div>
                    </div>
                    <button class="ui fluid large teal submit button">Login</button>
                    {{#if errorMessage}}
                        <p>{{errorMessage}}</p>
                    {{/if}}
                </div>
                <div class="ui error message"></div>
            </form>
        </div>
    </div>
</div>
